/* //////////////My Projects Section Style Start ///////////////////// */
.card-body{
    background-color: #010101fb;
    border: 2px solid black;
 }
 
 .cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 36px;
 }
 .project-name{
    font-family: 'Roboto Mono', monospace;
    color: aqua;
 }
 
 .button-small{
   background: linear-gradient(to right bottom, #014169, #013d68, #044679, #033c70, #08366f, #152b74, #141c59);
    font-family: 'Roboto Mono', monospace;
 }
 .button-small:hover{
    color: white;
    background: linear-gradient(to right bottom, gray , black);
 }
 
 /* //////// Card Zooming While Hover ///////////////////////// */
 .card-container:hover{
   animation: zoominoutsinglefeatured 1s ;
 }
 @keyframes zoominoutsinglefeatured {
   0% {
       transform: scale(1,1);
   }
   50% {
       transform: scale(1.2,1.2);
   }
   100% {
       transform: scale(1,1);
   }
}

/* /////////////////Media Query for Mobile */

@media only screen and (max-width: 950px){
	.cards-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}