/*////////// Navbar Style Start ////////////////////////*/
.navigationbar{
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
 }
 .navigationbar:hover{
    background-color: rgba(0, 0, 0, 0.871);
 }
 
 .nav-item{
    color:white;
    font-size: 2.5em;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
 }
 .bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
 }
 @keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-13px); }
    100% { transform: translateY(0); }
  }
  /*////////////////  Navbar Style End /////////////////////*/