/* //////////////My Skill Section Style Start///////////////////// */
.section{
    margin-top: 230px;
    background-color: #00000084;
 }
 .heading{
    font-family: 'Roboto Mono', monospace;
    color: aqua;
 }
 
 .skills{
    margin-top: 130px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-row-gap: 5%;
 }
 /*/////////// rotate y-axis animation //////////////////*/
 .rotate-img:hover{
    -webkit-animation: rotateY 1s  linear;
    animation: rotateY 2s  linear;
 }
 @-webkit-keyframes rotateY {
    to { -webkit-transform: rotateY(360deg); }
  }
  @keyframes rotateY {
    to { transform: rotateY(360deg); }
  }
 
  /*////// Rotate React image like a fan ///////////*/
  .react{
     transition: transform 3s linear;
  }
  .react:hover{
    transform: rotate(360deg);
  }
 


/* /////////////////// Media Query For Mobile ///////////////////////////*/

@media only screen and (max-width: 950px){
	.skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}





 