/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.greetings{
   font-family: 'Courgette', cursive;
   margin-left: 5%;
   margin-top: 5%;
}

.App {
  color: white;
}
