/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

.App {
  color: white;
}


/*////////// Navbar Style Start ////////////////////////*/
.navigationbar{
   padding: 15px;
   text-align: center;
   display: flex;
   justify-content: space-evenly;
}
.navigationbar:hover{
   background-color: rgba(0, 0, 0, 0.871);
}

.nav-item{
   color:white;
   font-size: 2.5em;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   transform-origin: bottom;
}
.bounce:hover {
   animation-name: bounce;
   animation-timing-function: ease;
}
@keyframes bounce {
   0%   { transform: translateY(0); }
   50%  { transform: translateY(-13px); }
   100% { transform: translateY(0); }
 }
 /*////////////////  Navbar Style End /////////////////////*/


 /*/////////////// Header Section Style Start /////////////////// */

.greetings{
   font-family: 'Courgette', cursive;
   margin-top: 5%;
}
.name{
   font-size:400%;
   font-family: 'Roboto Mono', monospace;
}
.my-name{
   color: rgb(0, 255, 255);
}
.my-designation{
   font-family: 'Roboto Mono', monospace;
   margin-top:20px;
}
.social{
   margin-top:50px;
   font-size: 3em;
}
.social-link{
   color:white;
}
.button{
    padding:25px 50px;
    font-size:25px;
    font-family: 'Roboto Mono', monospace;
    font-weight:900;
    border-radius: 9px;
    color: white;
    background: linear-gradient(to right bottom, #0062a1, #0061a7, #0061ac, #075fb1, #155eb6, #3151b6, #3948b1, #413fab, #4934a4, #50289d);
}
.button:hover{
    color: white;
    background: linear-gradient(to right bottom, gray , black);
}
.header-btn{
  margin-top: 20px;  
}

/* //////////////Header Section Style End ///////////////////////// */



/* //////////////My Skill Section Style Start///////////////////// */
.section{
   margin-top: 230px;
   background-color: #00000084;
}
.heading{
   font-family: 'Roboto Mono', monospace;
   color: aqua;
}

.skills{
   margin-top: 130px;
   margin-bottom: 90px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-content: space-around;
   align-items: center;
   grid-row-gap: 5%;
}
/*/////////// rotate y-axis animation //////////////////*/
.rotate-img:hover{
   -webkit-animation: rotateY 1s infinite linear;
   animation: rotateY 1s infinite linear;
}
@-webkit-keyframes rotateY {
   to { -webkit-transform: rotateY(360deg); }
 }
 @keyframes rotateY {
   to { transform: rotateY(360deg); }
 }

 /*////// Rotate React image like a fan ///////////*/
 .react{
    transition: transform 2s linear;
 }
 .react:hover{
   transform: rotate(180deg);
 }

/* /////////////My Skill Section Style End ////////////////////// */