/*/////////////// Header Section Style Start /////////////////// */

.greetings{
    font-family: 'Courgette', cursive;
    margin-top: 5%;
 }
 .name{
    font-size:300%;
    font-family: 'Roboto Mono', monospace;
 }
 .my-name{
    color: rgb(0, 255, 255);
 }
 .my-designation{
    font-family: 'Roboto Mono', monospace;
    margin-top:20px;
 }
 .social{
    margin-top:50px;
    font-size: 3em;
 }
 .social-link{
    color:white;
 }
 .button{
     padding:25px 50px;
     font-size:25px;
     font-family: 'Roboto Mono', monospace;
     font-weight:900;
     border-radius: 9px;
     color: white;
     background: linear-gradient(to right bottom, #014169, #013d68, #044679, #033c70, #08366f, #152b74, #141c59);
 }
 .button:hover{
     color: white;
     background: linear-gradient(to right bottom, gray , black);
 }
 .header-btn{
   margin-top: 20px;  
 }
 
 /* //////////////Header Section Style End ///////////////////////// */